<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <title>Library Management System</title>
    <a href="index.html">Main Page</a>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }

        form {
            margin-bottom: 20px;
        }

        input[type="submit"] {
            padding: 5px 10px;
            font-size: 14px;
        }
    </style>
</head>

<body>
    <h1>Library: All Loans</h1>
    <div id="loan-list"></div>

    <script>
        const MY_SERVER = 'http://127.0.0.1:5000';

        const displayLoans = (loans) => {
            const loanList = document.getElementById('loan-list');
            loanList.innerHTML = '';

            loans.forEach(loan => {
                const loanItem = document.createElement('div');
                loanItem.innerHTML = `
                                      <p>Customer ID: ${loan.cust_id}</p>
                                      <p>Book ID: ${loan.book_id}</p>
                                      <p>Loan Date: ${loan.loan_date}</p>
                                      <p>Return Date: ${loan.return_date}</p>`;
                loanList.appendChild(loanItem);
            });
        };

        const getAllLoans = () => {
            axios.get(`${MY_SERVER}/loans`)
                .then(response => {
                    const loans = response.data;
                    displayLoans(loans);
                })
                .catch(error => {
                    // console.error(error);
                });
        };
        getAllLoans();


                const getLateLoans = () => {
            axios.get(`${MY_SERVER}/late_loans`)
                .then(response => {
                    const loans = response.data;
                    displayLoans(loans);
                })
                .catch(error => {
                    console.error(error);
                });
        };

        getLateLoans();

        
    </script>
</body>

</html>